body{
    background-image: linear-gradient(
		45deg,
		rgba(246, 250, 23) 0%,
		rgb(231, 121, 31) 10%,
		rgb(28, 116, 151) 100%);
	
	background-attachment: fixed;
	background-repeat: no-repeat;
}
 a{
	 color: #212529;
 }
 p{
	 font-family:cursive;
 }
 h1{
	text-align: center;
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 30px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{	
	text-align: center;
	font-size: 25px;
	font-family:cursive;
	margin-bottom: 50px;
}

/** CSS for _base.html **/
.bg-light {
    background-color: inherit!important;
}

.logo{	
	position:sticky;
	width: 100px;
	height: 100px;
	margin-left: 50px;
	margin-right: 80px;	
}
.collapse{	
	margin-left: 150px;
	margin-right: 50px;
	padding-left: 50px;
	padding-right: 50px;
	
}

.collapse ul{
	margin-right: 55px;
	padding-left: 15px;
	padding-right: 25px;
	
	
}
.collapse ul li{
	
	margin-left: 25px;
	
	border: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #212529;
}

.navbar-toggler{
	background-color: #212529;
}
.btn-outline-success {
    color: #212529;
    border-color: #212529;
}


/** CSS for _homepages.html **/
.body_story{
	border: #212529;
	margin: 50px;
}
.blockquote-footer {
    color: #210ccf;
}

#bookshelf{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 450px;
  height: 450px;
}

.card{
	background-color: inherit;
}

.btn-primary {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.profile_card{
	margin:50px;
	margin-left:10px;
	margin-bottom: 30px;
}

.profile_social a{
	margin: 10px;
}




